.menu {
  background: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  position: relative;
}

.menu__items {
  list-style: none;
  padding: 144px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.menu__item {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.menu__item-link {
  color: #FFFFFF;
  text-decoration: none;
}

.menu__item-link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.menu__close-button {
  position: absolute;
  right: 20px;
  top: 13px;
  color: #FFFFFF;
  background: url(../../images/header/close-btn.svg);
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
}

.menu__overlay {}

.menu__profile-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid rgb(170 170 170 / 20%);
  box-sizing: border-box;
  border-radius: 50px;
  width: 100px;
  height: 32px;
  padding: 5px 0 0;
  margin-bottom: 46px;
  text-align: center;
}

.menu__profile-link-icon::before {
  content: url(../../images/header/icon_account.svg);
  width: 12px;
  height: 14px;
  margin-right: 4px;
}

@media screen and (min-width:576px) {
  .menu__items {
    padding-top: 160px;
    gap: 28px;
  }
  .menu__item-link:hover {
    text-underline-offset: 7px;
  }
  .menu__close-button {
    right: 28px;
    top: 22px;
  }
}

@media screen and (max-width:992px) {
  .menu {
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 43px;
    max-width: 520px;
  }
  .menu__overlay {
    min-height: 43px;
    background-color: rgb(0 0 0 / 30%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  .menu__overlay_popup-opened {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.9s;
  }
}

@media screen and (min-width:992px) {
  .menu {
    max-width: none;
    flex-direction: row;
  }
  .menu__items {
    flex-direction: row;
    padding: 0 0 0 14px;
    gap: 18px;
  }
  .menu__item {
    font-size: 13px;
    line-height: 18px;
  }
  .menu__close-button {
    display: none;
  }
  .menu__profile-link {
    margin-bottom: 0;
  }
  .menu__overlay_desktop {
    opacity: 1;
    visibility: visible;
    transition: none;
    position: relative;
    width: 100%;
  }
  .menu__item_hidden-on-lg {
    display: none;
  }
  .menu__profile-link-icon::before {
    margin-right: 8px;
  }
}
