.form {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  grid-gap: 16px;
  gap: 16px;
  justify-content: stretch;
  align-items: flex-start;
  padding: 0 0 30px;
  width: calc(100% - 2 * 30px);
  margin: 0 auto;
  max-width: 400px;
}

.form__fields {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.form__caption {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  grid-column: 1/3;
  width: 100%;
  margin-bottom: 60px;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  width: 100%;
  padding: 20px 0 10px;
  margin: 0;
}

.form__field {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  background: #2F2F2F;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.form__field:-internal-autofill-selected {
  background: none!important;
  color: transparent!important;
}

.form__field_error {
  outline: #FF004C double 1px;
}

.form__button {
  background: #4285F4;
  border: none;
  border-radius: 3px;
  width: 100%;
  max-width: 410px;
  height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.form__button:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

.form__button:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}

.form__link-container {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin: auto;
}

.form__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  background: none;
  width: max-content;
  margin: 0;
}

.form__link-question {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #8B8B8B;
}

.form__link:hover {
  opacity: 0.7;
  transition: 0.5s;
  cursor: pointer;
}

.form__link_color_red {
  margin: 0 auto;
  color: #EE3465;
}

.form__link_color_blue {
  color: #4285F4;
}

.form__error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  align-self: start;
}

@media screen and (min-width: 576px) {
  .form {
    padding: 0 0 37px 0;
    max-height: 505px;
  }
  .form__fields {
    grid-template-rows: 92px 25px 25px;
  }
  .form__caption {
    text-align: left;
    padding: 23px 3px 0;
    margin-bottom: 20px;
  }
  .form__link {
    font-size: 13px;
    line-height: 16px;
  }
  .form__button {
    font-size: 14px;
    line-height: 17px;
  }
  .form__link-question {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 992px) {
  .form {
    padding-top: 0;
    max-height: 537px;
  }
  .form__fields {
    grid-template-rows: 117px 25px 25px;
  }
}
