.container {
  width: calc(100% - 2 * 14px);
  max-width: 1140px;
  margin: auto;
  border: 0.1px solid blue;
}

@media screen and (min-width: 576px) {
  .container {
    width: calc(100% - 2 * 30px);
  }
}
