.main {
  display: block;
}

.main__content {}

.main__content_bg_light {
  background: #272727;
}

.main__content-caption {
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
  padding: 70px 0 28px;
  margin: 0;
}

@media screen and (min-width:576px) {
  .main__content-caption {
    font-size: 22px;
    line-height: 27px;
    padding: 90px 0 24px;
  }
}

@media screen and (min-width: 992px) {
  .main__content-caption {
    padding: 110px 0 24px;
  }
  .main__content-caption_padding-top_sm {
    padding-top: 100px;
  }
  .main__content_bg_light {
    margin-top: 10px;
  }
}
